<% if flash[:notice]%>

    <div class="alert alert-success" role="alert"><%= flash[:notice]%></div>

<% end %>

<div class="row">

    <div class="col-xs-12">

        <h3 class="text-center post-header">Welcome to The Raven, <%= link_to "post something!", new_post_path %> </h3>

    </div>

</div>

<div class="grid">

    <% @posts.each do |post| %>

        <div class="row post-text-div">

            <div class="col-xs-12">

                <p class="post-text"> <%= post.text %> </p>

            </div>

        </div>

        <div class="row post-description-div">

            <div class="col-xs-12">

                <p class="post-description"> <%= "=> Wrote by #{post.user_name}, at #{post.created_at.to_s}" %>

            </div>

        </div>

    <% end %>

</div>